<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h1 class="card-title mb-4">Result</h1>
          <p class="fs-4 mb-4"><%= @message %></p>
          <%= link_to "Play again", "/", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>
